.App {
  text-align: center;
}

body{
  background-color: #121212;
}

body::-webkit-scrollbar {
  width: 7px;   
}
body::-webkit-scrollbar-track {
  background-color: #242526;
}
body::-webkit-scrollbar-thumb {
  background-color: hsla(0,0%,100%,0.4);
  border-radius: 20px; 
}
